:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.padded{
  padding: 16px;
}
.search{
  border-radius: 15px;
  height: 30px;
  width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}

.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.timestamp {
    font-size: smaller;
    font-family: monospace;
    padding: 0px 10px;
}

.red {
	border-color: rgb(255,0,0);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
	border-color: rgb(255,255,0);
	background:   rgb(180,180,60);
	box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
	border-color: rgb(0,0,255);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.black {
    border-color: rgb(0,0,0);
    background:   rgb(75,75,75);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.purple {
  border-color:black;
  background: rgba(162, 0, 255, 0.432);
  box-shadow: 1px 1px 2px rgba(102, 0, 204, 0.4);
}

.light-blue{
  border-color: rgb(51, 102, 255);
  background: rgba(102, 204, 255, 0.808);
  box-shadow: rgba(0, 0, 255, 0.507);
}

